body{
    padding: 0px;
}
#list-to-purchase {
    border: 1px solid black;
    height: 300px;
    width: 250px;
    float: left;
}
#purchased-cart {
    border: 1px solid blue;
    height: 300px;
    width: 250px;
    float: right;
}
.wrap {
    width : 550px;
}
section {
    margin: 10px;
}
section footer p {
    margin-top :10px; 
}
